.gridItens {
  height: 700px;
  width: 1300px;
  margin: 40px auto;

  .gridPhotos {
    width: 47%;
    height: 70%;
    float: right;
    margin: 50px;
    overflow-y: scroll;
  }

  .conteudoReserva {
    width: 35%;
    float: left;
    padding: 30px;
    border: 1px solid #B3BCC7;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 50px;

    .nomeQuarto {
      width: 300px;
      padding: 40px;
      font-weight: bold;
      font-size: 25px;
      color: #057D73;
    }
  }
}

//sx={{ width: 500, height: 450 }} cols={3} rowHeight={164}
