body {
  background-color: #ededed;

  .layoutContainer {
    .title {
      color: #262329;
      text-align: center;
      font-size: 40px;
      margin-top: 70px;
      margin-bottom: 50px;
    }

    // .filter {
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   height: 8.68rem;
    //   position: relative;
    //   margin-top: -70px;
    //   z-index: 10;

    .filterBar {
      background-color: rgb(30 41 59);
      width: 980px;
      border-radius: 1rem;
      opacity: 0.95;

      .itemFilter {
        padding: 2.75rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        border: 0;
        border-radius: 0.6rem;
        padding: 0.5rem;

        font-weight: bold;
        font-size: 1.125rem;

        width: 25%;
        height: 3.4rem;
      }
    }
    // }

    .hotelLink {
      padding-top: 50px;
      // margin: 0 60px;
      // background-color: #121225;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: space-around;
      text-decoration: none;

      .conteudoLink {
        margin-top: 0;
        text-decoration: none;
        text-align: left;
        width: 350px;
        background-color: #ffffff;

        a {
          text-decoration: none;
          color: #262329;

          img {
            // float: initial;
            width: 100%;
          }
        }

        p {
          padding: 15px 10px;
          text-decoration: none;
          text-align: left;
          width: 330px;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .inlineText {
            margin: 0 a;
            padding-bottom: 10px;
            font-size: 15px;

            .calendar {
              font-size: 16px;
            }
          }
        }
        .nameHotel {
          color: #ff7f47;
          font-size: 25px;
        }
      }
    }
  }
}
