body {
  background-color: #ededed;

  .layoutContainer {
    .title {
      color: #262329;
      text-align: center;
      font-size: 50px;
      margin: 30px 0;
      font-weight: 700;
      text-shadow: 2px 2px 4px #262329;
    }

    .subTitle {
      color: #262329;
      text-align: center;
      font-size: 40px;
      margin-top: 50px;
      // font-weight: 700;
      text-shadow: 2px 2px 2px #262329;
    }

    .filterBar {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 8.68rem;
      position: relative;
      margin-top: -70px;
      z-index: 10;
      background-color: rgb(30 41 59);
      width: 980px;
      border-radius: 1rem;
      opacity: 0.95;

      padding: 2.75rem;
      display: flex;
    }
    // }

    .hotelLink {
      padding-top: 50px;
      // margin: 0 60px;
      // background-color: #121225;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: space-around;
      text-decoration: none;

      .conteudoLink {
        margin-top: 0;
        text-decoration: none;
        text-align: left;
        width: 350px;
        background-color: #ffffff;

        a {
          text-decoration: none;
          color: #262329;

          img {
            // float: initial;
            width: 100%;
          }
        }

        p {
          padding: 15px 10px;
          text-decoration: none;
          text-align: left;
          width: 330px;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .inlineText {
            margin: 0 a;
            padding-bottom: 10px;
            font-size: 15px;

            .calendar {
              font-size: 16px;
            }
          }
        }
        .nameHotel {
          color: #ff7f47;
          font-size: 25px;
          display: flex;
        }
      }
    }
  }
}
